* {
	margin:0;
	list-style:none;
	vertical-align:baseline;
	padding:0 auto;
}

body{
	margin:0 auto;
	clear:both;
	text-align:center;
	font-size:16px;
}

html{
	margin:0 auto;
}


.div-background{
	width:100%;
	height:100%;
	position:absolute;
	display:table;
}

.menu-left{
	width:8%;
	height:100%;
	background-color:#303077;
	float:left;
}

.content-right{
	height:100%;
	background-color:#F3F5F9;
	width:92%;
	float:left;
}

.menu-button{
	width:100%;
	height:5%;
	background-color:#303077;
	position:relative;
	float:left;
	border-bottom: #11AAD9 1px solid;
	color:#EBEFF0;
}

.menu-button:hover{
	background-color:#20C0F2;
	color:white;
}

.menu-header{
	width:100%;
	height:5%;
	background-color:#303077;
	position:relative;
	border-bottom: #11AAD9 1px solid;
	float:left;
	color:#F3F8F9;
}

.div-content-header{
	width:100%;
	height:5%;
	float:left;
	position:relative;
	background-color:white;
	border-bottom:#E0E4E8 1px solid;
}